#### More about 'print' command

In [1]:
radius = 4
area = 3.14 * radius * radius 
print('when radius of a circle is ' + str(radius) +' units then area of circle is '+ str(area) +' square units')

when radius of a circle is 4 units then area of circle is 50.24 square units

Instead of using '+' and 'str()' to put numbers in between strinsg, we can use following operators
%d - int
%f - float 

Put this operators in the place where you want your number in the string. Note that, ORDER MATTERS

In [2]:
print('when radius of a circle is %d units then area of circle is %f square units' %(radius,area))

when radius of a circle is 4 units then area of circle is 50 square units

In [3]:
print('when radius of a circle is %d units then area of circle is %d square units' %(radius,area))

when radius of a circle is 4 units then area of circle is 50 square units

In [7]:
universities = '\nDuke \nstanford \nMIT \nCaltech'
print('best universities in the world are:', universities  )

best universities in the world are:
Duke
stanford
MIT
Caltech

Reserved Keywords: and, del, from, not, while, as, elif, global, or, with, assert, else, if, pass, yield, break, except, import, print, class, exec, in, raise, continue, finally, is, return, def, for, lambda, try

# Strings

## General

Objects of type ‘str’ are used to represent strings of characters. They can be written using single or double quotes. Strings are one of several sequence types in python. Strings ARE NOT MUTABLE i.e. the elements in the strings can not be changed.

String is non scalar object.

Can be written in single or double commans '' or ""

In [51]:
'a'

'a'

In [52]:
'123'

'123'

In [53]:
'123' + '123'

'123123'

In [54]:
123 + 123

246

'123' is a string of characters and not a number one hundred and twenty three

In [55]:
'a' * 'a'

TypeError: can't multiply sequence by non-int of type 'str'

In [57]:
'4' < 3

TypeError: unorderable types: str() < int()

In [58]:
number = 4
number_str = '4'

In [59]:
type(number)

int

In [60]:
type(number_str)

str

##### Length

In [61]:
a = 'abc'
b = 'whats your name?'

In [62]:
len(a)

3

In [63]:
len(b)

16

##### Indexing & Slicing

In [74]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'

In [75]:
alphabets[0]

'a'

Important: Indexing starts from 0

In [76]:
alphabets[-1]

'z'

In [85]:
alphabets[0] = 'a'

TypeError: 'str' object does not support item assignment

In [77]:
alphabets[1]

'b'

In [78]:
alphabets[5]

'f'

In [79]:
alphabets[1:5]

'bcde'

Note: when [a:b] means, a is inclusive and b is exclusive

In [80]:
#Entire string
alphabets[:]

'abcdefghijklmnopqrstuvwxyz'

In [81]:
#Alternate characters
alphabets[::2]

'acegikmoqsuwy'

In [82]:
#Evry 3rd character
alphabets[::3]

'adgjmpsvy'

In [83]:
#Reversing the string
alphabets[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [84]:
alphabets[::-2]

'zxvtrpnljhfdb'

In [5]:
str1 = 'Apple'
str2 = 'Apple'

str1 == str2

True

In [7]:
# Question : Print last letter of the string 'Duke'

str1 = "Duke"
length = len(str1)
print (str1[length -1 ])

e

##### Lower and Upper case characters

In [10]:
str1 = "lower"
str1.upper()

'LOWER'

In [11]:
str2 = "UPPER"
str2.lower()

'upper'

# Lists

A list is an ordered set of values, where each value is identified by an index. The values that make up a list are called its elements. Lists are similar to strings, which are ordered sets of characters, except that the elements of a list can have any type.

Lists are mutable.

##### Creating LIst

In [13]:
list1 = [1, 2.5, 'a', 'b', 'physics', 'chemistry']

##### Indexing and accesing elements of list

In [20]:
list1 = ['1','2','3','4','5','a','b','c','d','e']

In [88]:
list1

['1', '2', '3', '4', '5', 'a', 'b', 'c', 'd', 'e']

In [89]:
list1[0]

'1'

In [90]:
list1[1:6]

['2', '3', '4', '5', 'a']

In [91]:
list1[::2]

['1', '3', '5', 'b', 'd']

 ##### Updating List

In [28]:
list1 = [1,2,3,4,5,6]

In [29]:
list1

[1, 2, 3, 4, 5, 6]

In [30]:
list1[0] = 'a'

In [31]:
list1

['a', 2, 3, 4, 5, 6]

In [32]:
list1 + ['f']

['a', 2, 3, 4, 5, 6, 'f']

In [33]:
#ask what should ne the output
list1.index('f')

ValueError: 'f' is not in list

In [34]:
list1

['a', 2, 3, 4, 5, 6]

In [35]:
list1 = list1 + ['f']

In [36]:
list1

['a', 2, 3, 4, 5, 6, 'f']

In [37]:
list1.index('f')

6

In [38]:
del list1[5]

Which element do you expect to be deleted?

In [39]:
 list1

['a', 2, 3, 4, 5, 'f']

6 is not anymore in the list

##### Basic List operations

In [41]:
list1

['a', 2, 3, 4, 5, 'f']

In [47]:
# Checking length 
len(list1)

6

In [48]:
# adding 2 lists
list2 = ['A', 'B', 'C']
list1 + list2

['a', 2, 3, 4, 5, 'f', 'A', 'B', 'C']

In [49]:
#Multiplying lists
list2 * 3

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

In [50]:
#Chekcing if the element is in the list or not 
3 in list1

True

In [51]:
'3' in list1

False

##### Built-in List Functions

In [121]:
list1

['A', '2', '3', '4', '5', 'a', 'b', 'c', 'd', 'e', 'One', 'One']

In [52]:
#Appending element in front of list
list1.append('One')
list1

['a', 2, 3, 4, 5, 'f', 'One']

In [53]:
#Counting number of occurances of particular element 
list1.count('One')

1

In [54]:
#Checking index of element
list1.index('One')

6

In [55]:
#Removing the last index element
list1.pop()
list1

['a', 2, 3, 4, 5, 'f']

In [57]:
#Removing one particular element from list
list1.remove('f')
list1

['a', 2, 3, 4, 5]

In [58]:
#Reversing the list
list1.reverse()
list1

[5, 4, 3, 2, 'a']

##### Nested Lists

Can a list have another list as element? YES!

In [69]:
list1 = ['a','b', 'c']
list2 = [1, 2, 3, list1]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [71]:
# Ask for output
list2[3][2]

'c'

# Dictionaries

Dictionaries are similar to other compound types except that they can use any immutable type as an index. As an example, we will create a dictionary to translate English words into Spanish. For this dictionary, the indices are strings.

##### General

In [72]:
#String as keys 
dict_1 = {'key1' : 1 , 'key2' : 2 , 'key3': 3}

In [26]:
dict_1['key2']

2

In [27]:
dict_1[0]

KeyError: 0

In [37]:
dict_2 = {'k1':1 , 'k2':3.1416 , 'k3':'string'}

In [38]:
dict_2['k3']

'string'

In [39]:
dict_2

{'k1': 1, 'k2': 3.1416, 'k3': 'string'}

In [40]:
dict_2['k1'] + 99

100

In [41]:
dict_2['k1']

1

In [34]:
dict_2['k1'] = dict_2['k1'] + 99

In [35]:
dict_2['k1']

100

In [43]:
# Empty Dictionary
dict_3 = {}

In [44]:
dict_3

{}

In [45]:
dict_3['key1'] = 'value1'

In [46]:
dict_3['key2'] = 'value2'

In [47]:
dict_3

{'key1': 'value1', 'key2': 'value2'}

In [53]:
#Dictionaries are very flexible in data types they hold.
#for e.g. Following dictionary has 1 list, and 1 nested dictionary in it

In [54]:
dict_4 = {'k1' : 123, 'k2':[11,12,13], 'k3':{'nestkey':{'subnestkey':'value'}}}

In [55]:
dict_4['k3']

{'nestkey': {'subnestkey': 'value'}}

In [56]:
dict_4['k3']['nestkey']

{'subnestkey': 'value'}

In [57]:
dict_4['k3']['nestkey']['subnestkey']

'value'

##### Operations with dictionaries

In [1]:
 inventory = {'apples':430 , 'bananas' : 312, 'oranges' : 525}

In [2]:
print (inventory)

{'apples': 430, 'bananas': 312, 'oranges': 525}

In [5]:
inventory.keys()

dict_keys(['apples', 'oranges'])

In [6]:
inventory.values()

dict_values([430, 525])

someone bought all bananas

In [3]:
del inventory['bananas']

In [4]:
inventory

{'apples': 430, 'oranges': 525}

In [8]:
# Some other operations 
students = {'srivatsan':'A', 'chinmay': 'failed', 'kevin' : 'A+', 'dhairya':'A', 'omar':'B+' ,'prof.egger':'did not attend'}

for (k,v) in students.items():
    print("Student's Name:{a} AND Grade:{b}".format(a=k,b=v))
    print("Student's Name:%s AND Grade:%s" %(k,v))

Student's Name:srivatsan AND Grade:A
Student's Name:srivatsan AND Grade:A
Student's Name:chinmay AND Grade:failed
Student's Name:chinmay AND Grade:failed
Student's Name:kevin AND Grade:A+
Student's Name:kevin AND Grade:A+
Student's Name:dhairya AND Grade:A
Student's Name:dhairya AND Grade:A
Student's Name:omar AND Grade:B+
Student's Name:omar AND Grade:B+
Student's Name:prof.egger AND Grade:did not attend
Student's Name:prof.egger AND Grade:did not attend

In [11]:
for (k,v) in students.items():
    if v == 'failed':
        print ('%s Failed!!! ' %k)

chinmay Failed!!!

In [13]:
for (k,v) in students.items():
    if v == 'A':
        print ('%s got A, Awesome!' %k)

srivatsan got A, Awesome!
dhairya got A, Awesome!

In [14]:
for (k,v) in students.items():
    if k == 'kevin':
        print ('%s got %s !'%(k,v))

kevin got A+ !